.card__container{
	position: relative;
	border:3px solid #3E4357;
	border-radius: 10px;
	width: 350px;
	height: 500px;

	display: flex;
	overflow: hidden;
	margin-top: 10px;
}

.card__img{
	min-width: 100%;
	min-height: 100%;
	transition: transform .8s;
}

.card__img:hover{
	transform: scale(1.1);
}
.card__add-cart{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	border: none;
	background-color: rgba(0, 112, 209, 0.9);
	color: white;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	transition: 0.2s;
	z-index: 2;
}

.card__add-cart:hover{
	background-color: #0090ff;
}